@use "../abstracts/index" as *;

:root {
  @each $name, $color in $colors {
    --#{"" + $name}: #{$color};
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.2;
  background-color: var(--purple-100);
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  margin-block-start: px-to-rem(-150px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

fieldset {
  border: none;
}

input {
  outline: transparent;
  border: none;
  cursor: pointer;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
}

summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none; /* Chrome, Safari */
  }

  &::marker {
    content: ""; /* Firefox */
  }
}
